* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gudea", sans-serif;
    background: #f5f7fb;
    color: #222;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    flex: 1;
}

.avatar {
    width: 100px;
    height: 100px; 
}
.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.info h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.info p.email {
    font-size: 14px;
    color: #46B1D5;
    margin-bottom: 15px;
    font-weight: 500;
}

.info p {
    font-size: 14px;
    margin-bottom: 15px;
    max-width: 600px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.tag {
    background: #46B1D5;
    color: white;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.edit-profile {
    margin-top: 20px;
}

.edit-btn {
    background: #46B1D5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.3s;
}

.edit-btn:hover {
    background: #3a9bc1;
}

.perfil-direita {
    text-align: right;
}

.projetos {
    font-weight: bold;
    margin-bottom: 10px;
}

.projetos span {
    color: #4ab2d8;
}

.estrelas {
    font-size: 22px;
    color: gold;
}
